body {
    background-color: #f8f8f8;
}

.menu {
    list-style-type: none
}

.menu a {
    font-family: fantasy;
    font: "Times New Roman";
    font-size: 14px;
    font-style: italic;
    color: green
}

.tovar h2 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}
