* {
    margin: 0;
    padding: 0
}

/* Style for "home-page container" */
.container {
    width: 1366px;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.slider {
    height: 800px;
    background-image: url(../img/slider-img.png);
    position: relative;
}

.menu {
    float: right;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.navbar {
    padding-top: 63px;
}

.slider-main {
    margin-top: 283px;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.link-nav {
    text-decoration: none;
    width: 490px;
    height: 10px;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
    text-transform: uppercase;
    padding: 10px 13px;
}

.link-nav-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}

.link-nav:hover {
    color: #212121;
}

.slider-trending {
    /* Style for "TRENDING" */
    width: 109px;
    height: 13px;
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.slider-product-name {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-transform: uppercase;
    margin-top: 22px;
    margin-bottom: 34px;
}

.slider-text {
    /* Style for "Seat and b" */
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    width: 458px;
    margin-bottom: 34px;
}

.button {
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    width: 212px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    letter-spacing: 3.6px;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: #c7c7c7;
    display: inline-block;
    border-radius: 50%;
    margin: 5px;
}

.circle:hover {
    background-color: #212121;
}

.circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin-bottom: 0px;

}

.pagination {
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}
