body {
    background-color: #f8f8f8;
}

.header {
    height: 70px;
    border-collapse: collapse;
    vertical-align: middle;
    text-align: left;
    padding: 0;
    border-spacing: 0;

}

#menu * {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: none;
    font-family: serif;
    font: "Times New Roman";
    font-size: 16px;
    font-style: italic;
    color: darkslategray;
    text-decoration: none;
    text-align: center;
}

.content h2 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.content img {
    outline: 2px solid darkgrey;
    width: 30%;
}

.content img:hover {
    outline: none;
}

.less + p {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.more + span {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.harakiri li {
    font-size: 15px;
    color: #484848;
    line-height: 20px;
    list-style-image: url(img/purrson16.png)
}

input[type="text"] {
    font-family: monospace;
    font-size: 12px;
    background-color: gainsboro;
    color: darkslategray;
    height: 16px;
    width: 240px;
    text-transform: capitalize;
}

input[type="email"]:active {
    background-color: aquamarine;
}

input[type="email"] {
    font-family: monospace;
    font-size: 12px;
    background-color: gainsboro;
    color: darkslategray;
    height: 16px;
    width: 240px;
}

#menu {
    text-align: left;
}

ul#menu {
    padding-inline-start: 0px;
}

#menu li a:hover {
    color: darkcyan;
}

#menu li a:active {
    color: red;
}

input::placeholder {
    text-transform: none;
}

input[type="email"]:focus {
    color: lightseagreen;
    font-weight: bold;
    color: beige;
}

.tovar p::first-letter {
    font-family: cursive;
    font-size: 1.25em;
}


.harak-table {
    height: 16px;
    width: 50%;
    text-align: center;
    border-collapse: collapse
}

.harak-table td {

    border: 1px solid #000;
}


.harak-table tr:first-child {
    height: 24px;
    border: 1px solid #red;
}

.harak-table tr:first-child td:first-child {
    border-top: none;
    border-left: none;
}

.footer {
    height: 50px;
    background-color: aliceblue;
    text-align: right;
    padding-top: 15px;
    padding-right: 15px;
}
